/* Reset and General Styles */

/* Apply box-sizing to all elements for consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set the default font family */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */

/* Set the height of the header */
header {
    height: 80px;
    color: white;
    /* Ensure text is visible against background */
    display: flex;
    align-items: center;
    /* Center items vertically */
}

/* Add a text shadow effect to header headings for better visibility */
header h2 {
    text-shadow: 1px 2px 3px #090909;
}

/* Page Content Styles */

/* Limit overflow and adjust height if necessary */
.page-content {
    overflow: hidden;
    /* Overflow behavior */
    /* height: calc(100vh - 80px); */
    /* Uncomment if needed */
    /* overflow-y: auto; */
    /* Uncomment if needed */
}

/* Flex Utility Classes */

/* Flex container */
.flex {
    display: flex;
}

/* Justify content center */
.jcc {
    justify-content: center;
}

/* Justify content space-between */
.jsb {
    justify-content: space-between;
}

/* Align items center */
.aic {
    align-items: center;
}

/* Justify content space-around */
.jca {
    justify-content: space-around;
}

/* Notification Icon Styles */

/* Set a fixed width for the notification icon */
#notification-icon {
    /* width: 100px; */
}

/* Adjust icon size */
header i {
    font-size: 2rem;
}

/* Notification List Styles */

/* Limit height and enable vertical scrolling */
#notification-list {
    max-height: 30vh;
    width: 300px;
    overflow-y: auto;
    /* Enable vertical scrolling */
}

/* Adjust badge position */
#notification-icon .badge {
    left: 20px;
}

/* Link Styles */

/* Override default link styles */
a {
    color: inherit;
    /* Inherit text color */
    text-decoration: none;
    /* Remove underline */
}

/* Status Indicator Styles */

/* Style for status indicator */
.status {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
    margin: 0 auto;
}

/* Success status indicator */
.status-success {
    background-color: green;
}

/* Danger status indicator */
.status-danger {
    background-color: red;
}

/* Table Zone Styles */

/* Limit height and enable vertical scrolling */
.col-md-6>.table-zone {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    /* Enable vertical scrolling */
}

/* Table Cell Styles */

/* Center align text in table cells */
table td span,
table th,
table td {
    text-align: center;
}

@keyframes highlight {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: orange;
    }
}

tr.current {
    border: 2px solid var(--bs-primary);
    animation: highlight 1s ease-in-out forwards;
}

tr.current th,
tr.current td {
    border: none;

}

/* Footer Styles */

/* Set the height of the footer */
footer {
    height: 80px;
    z-index: 9999;
    /* Ensure footer is on top */
}

/* Scrollbar Styles */

/* WebKit scrollbar */
.table-zone::-webkit-scrollbar {
    width: 12px;
}

.table-zone::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-zone::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.table-zone::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox scrollbar */
.table-zone {
    scrollbar-width: thin;
    scrollbar-color: var(--bs-primary) #f1f1f1;
}

/* Notification Container Styles */

/* Position and style notification container */
#notification-container {
    right: 50px;
    max-height: 30vh;
    overflow-y: auto;
    /* Enable vertical scrolling */
    background-color: white;
    padding: 10px;
}

/* Alert Styles */

/* Set the width and adjust spacing for alerts */
.alert {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.gradient {
    background-color: var(--bs-primary);
    background-image: radial-gradient(circle, hsl(209, 82%, 58%) 0%, hsl(211, 81%, 64%) 50%, hsl(210, 83%, 67%) 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#chart-container {
    width: 100%; /* Largeur maximale pour s'adapter à la grille Bootstrap */
    height: 400px; /* Hauteur fixe du graphique */
    margin-bottom: 20px; /* Marge inférieure pour l'espace */
}


.feature-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 0.5rem 0;
    transition: background 0.3s ease;
color: white;
}
.feature-item:hover {
    background: rgba(255, 255, 255, 0.2);
}
.feature-item i {
    font-size: 1.5rem;
    margin-right: 1rem;
}
